.error {
    color: red;
}
.success {
    color: green;
}
.tile {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
}
