.property-container{
  padding: 20px;
  align-self: center;

}
.property-card{
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10%;
  padding: 10px;
  background-color: beige;
  border-radius: 20px;
}
.item-button{
  padding: 10px;
}